[Unit]
Description=Game Mode Daemon
After=dbus.service

[Service]
Type=simple
ExecStart=/usr/local/bin/gamemoded
Restart=on-failure

[Install]
WantedBy=default.target
